.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: rgba(26, 30, 40, 0.9); 
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1); 
    padding: 1.5rem 0; 
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--gap); 
}


.logo {
    font-size: 2.8rem; 
    font-weight: 900; 
    color: var(--secondary-color); 
    text-transform: uppercase;
}

.menu h1 a { 
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 1.5rem 2.5rem; 
    font-size: 1.6rem;
    color: var(--secondary-color); 
    position: relative;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: var(--accent-color); 
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0.8rem; 
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--accent-color); 
    transform: translateX(-50%);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%; 
    left: 25%;
}