.menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: rgba(13, 17, 23, 0.8); 
    backdrop-filter: blur(10px); /* Efeito de vidro fosco */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.logo a {
    color: var(--accent-color) !important;
    font-weight: 900;
}