:root {
    --primary-color: #0d1117;    /* Fundo quase preto (estilo GitHub) */
    --secondary-color: #f0f6fc;  /* Branco levemente acinzentado */
    --accent-color: #00add8;     /* O azul oficial do Go */
    --accent-hover: #008eb3;
    --light-bg-color: #161b22;   /* Card bg */
    --dark-bg-color: #0d1117; 
    
    --gap: 3rem; 
    --section-padding: 10rem 2rem; 
    --main-content-max-width: 1100px; 
    --menu-height: 7rem; 
}
