:root {
    /* Cores do estilo escuro */
    --primary-color: #1a1e28; 
    --secondary-color: #ffffff; 
    --accent-color: #007bff; 
    --text-dark: #333333; 
    --light-bg-color: #2a303f; 
    --dark-bg-color: #1a1e28; 

    /* Cores que você tinha, ajustando para o novo esquema */
    --original-primary-color: #1905b5; 
    --original-accent-color: #cac9c5; 
    --sky-blue-color: #00bfff; 

    /* Espaçamentos */
    --gap: 3rem; 
    --section-padding: 8rem var(--gap); 
    --main-content-max-width: 120rem; 
    --menu-height: 6.5rem; 
}
